ffmpegio==0.7.0
python-telegram-bot==13.14
python-dotenv
spotdl
pytube
ytmusicapi
spotipy
requests
pip
APScheduler==3.6.3
setuptools==80.10.2
pip3.11 git+https://github.com/TzurSoffer/spotify-downloader@29cb0b0669d5c107331b0912fdef73967b47493e
